.review p {
  margin-bottom: 0.25rem;
}

.reviews p.notes {
  margin-bottom: 0.8rem;
}

.review a {
  margin-right: 0.75rem;
  margin-bottom: 2rem;
}

.review {
  margin-bottom: 2rem;
}

.main_wrapper > p {
  margin-bottom: 0.5rem;
}

.region {
  font-weight: 700;
}
