<h2>Introduction</h2>
<p>
  The love for wine is overflowing across the internet, and people passionate
  about wine need a resource for staying updated, broadening their knowledge,
  and curating their wine cellar.
</p>
<p>
  It is for these reasons that we have launched this new website. Much is still
  under development, so be sure to come back soon to see the latest updates!
</p>
<h3>Review a Wine!</h3>
<p>
  After opening a new bottle, record your impresssions using the form below.
  Visit our <a routerLink="/reviews">reviews page</a> to see all past reviews.
</p>
<app-new-review></app-new-review>
