label {
  display: block;
}

.form-control {
  border: 1px solid #777777;
  border-radius: 3px;
  padding: 1px 2px;
}

input:not([type="radio"]),
textarea {
  display: block;
  margin-bottom: 1em;
  height: 2.5em;
  width: 20em;
}

textarea {
  min-height: 5rem;
}

button[type="submit"] {
  margin-top: 1em;
  font-size: 1.2em;
}

.region {
  font-weight: 700;
}