#hero_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/img/glasses.png");
  height: 250px;
  color: #f9fafb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero_title {
  padding: 4rem;
}

.main_wrapper {
  padding: 5em;
}

.reviews_wrapper {
  margin-top: 2rem;
  padding-top: 1rem;
}

p {
  margin-bottom: 1rem;
}

nav {
  position: absolute;
  top: -15px;
  right: 18%;
  width: 35%;
  > ul {
    width: 50%;
    float: left;
    margin: 6em 0 0 0;
  }
  ul li {
    display: inline-block;
    padding: 1.1em 5px 0 0;
    font-size: 18px;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #6c0314;
      }
    }
  }
  .pipe {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}

