.delete_wrapper {
    margin-top: 2rem;
    padding-top: 1rem;
    p {
      margin-bottom: 0.25rem;
    }
    .delete-submit,
    .delete-cancel {
      color: #000;
      background-color: #efefef;
      padding: 4px 7px;
      border: 1px solid #777777;
      text-decoration: none;
      font-weight: 400;
      border-radius: 3px;
      cursor: pointer;
      margin-right: 10px;
      margin-top: 15px;
    }
    .delete-cancel {
      display: inline-block;
      height: 2.1em;
    }
    .delete-submit:hover,
    .delete-cancel:hover {
      background-color: #e5e5e5;
    }
}
